.navbar{
    width: 98%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 2;
    position: absolute;
    color: white;
}

.navbar-bg{
    background-color: whitesmoke;
    color: black;
}

.nav-menu{
    display: flex;
}

a{
    padding: 0 1rem;
    cursor: pointer;
}

.hamburger{
    display: none;
    position: relative;
}

.mobile-menu{
    display: none;
}


@media screen and (max-width: 940px) {

   
    .mobile-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: -100vh;
        left: 0;
        background-color: whitesmoke;
        transition: 0.3s;
    }

    .active{
        top: 80px;
        color: black;

    }



    .mobile-nav{
        margin: 1rem 0;

    }

    .mobile-menu-footer{
        width: 100%;
        text-align: center;
        padding: 1rem 0;

    }

    .social-icons{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }

  

    .social-icons .icon:hover{
        transform: scale(1.5);
        transition: 0.3s;
    }

    .mobile-menu li{
        border-bottom: 1px solid gray;
        margin: 0 1rem;
        padding: 1.2rem 1.2rem;
    }

    .mobile-nav button{
        margin: 1rem;
        width: 90%;
    }
    








    .nav-menu{
        display: none;
    }
    .hamburger{
        display: block;
    }

    .nav-icons{
        display: none;
    }
}